<h1>Testing Halftoner image processing</h1>
<p><code>players.filter( p => p.isGoat() ).findFirst().name == 'LeBron' ? true: throw new Error('It should be LeBron')</code></p>
<hr>


<label for="file-input">File upload</label>
<input type="file" name="file" id="file-input" accept="image/*" onchange="onFileSelected(event)">

<div class="loading-container" style="display: none;" id="loading-div">
    <div class="loading"></div>
    <div id="loading-text">loading</div>
</div>

<div style="display: none;" id="image-container">
    <img id="preview-image" height="600" width="600">
</div>
