<h1>Testing Halftoner image processing</h1>
<p><code>players.filter( p => p.isGoat() ).findFirst().name == 'LeBron' ? true: throw new Error('It should be LeBron')</code></p>
<hr>


<label for="file-input">File upload</label>
<input type="file" name="file" id="file-input" accept="image/*" onchange="onFileSelected(event)">

<div class="loading-container" style="display: none;" id="loading-div">
    <div class="loading"></div>
    <div id="loading-text">Original</div>
</div>

<div style="display: none;" id="image-container" >
    <img id="preview-image" height="400" width="200" class="img-responsive center-block">
</div>

<div class="loading-container" style="display: none;" id="loading-div-halftoner">
    <div class="loading"></div>
    <div id="loading-text">Preview</div>
</div>

<div style="display: none;" id="image-container-halftoner">
    <img id="preview-image-haltoner" height="400" width="200" class="img-responsive center-block">
    <button onclick="postToS3()" class="btn-success">Post to S3</button>
    <input id="file-name" class="form-control form-control-lg" type="text" placeholder="File name in S3">
</div>
